/* Root - adding color variables */ 
:root {
    --primary-color: rgba(168,201,230,1);
    --secondary-color: rgba(84,64,64,1);
    --white-full: rgba(255, 255, 255, 1);
    --white-fade-hard: rgba(255, 255, 255, 0.75);
    --white-fade-soft: rgba(255, 255, 255, 0.25);
    --text-color: hsl(208, 38%, 25%, 1);
    --text-color-fade: hsl(208, 38%, 35%, .6);
}


/* All  - initial settings for all page elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color)
}

/* Body - background and font size*/
body {
    background:var(--primary-color);
    background: linear-gradient(146deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
    font-size: 1.25rem;
}

/* Container - containing element of the body to fade over background, more prevalent in wider desktop displays */
.container {
    background-color: var(--white-fade-soft);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

/* Headings - uppercase transformation of headings*/
h1, h2, h3 {
    text-transform: uppercase;
}
    /* add shadow to title H1  */
h1 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
}
    /* Add margin to bottom of section h2s to give vertical space between the sections */
section h2 {
    margin-bottom: 0.5rem;
}
    /* Add lines between sections using ::before pseudo selector */
#work::before, #contact::before, #resume::before{
    content: "";
    display: inline-block;
    width: 95%;
    border-top: 2px solid var(--white-fade-hard)
}

/* Header  - flex layout, sticky, and shared background with the body*/
header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 9999;
    background:var(--primary-color);
    background: linear-gradient(146deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 0%;
    border-bottom: 2px solid var(--white-full);
}
    /* full width of containing element */
header section {
    width: 100%
}

/* Nav - section within the header*/
header section {
    padding-bottom: 0;
    margin-top: 1em;
}
    /* full width of containing element */
header nav {
    width: 100%
}
    /* flex list to distribute li elements */
header nav ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
    /* styling of nav li elements */
header nav ul li {
    flex: auto;
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px 5px;    
    border: 1px solid var(--white-full);
    border-radius: 10px;
    background-color: var(--white-fade-soft);
    font-weight: bold;
}

/* Sections - general rules to apply to sections */
section {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    /* section titles (except for hero) */
section h2:not(#hero h2) {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
}
    /* section paragraphs */
section p {
    flex: 1;
    display: flex;
    justify-content: left;
    padding: 0 15px;
    align-items: center;
}

/* Hero - element containing threejs canvas*/
#hero {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
    /* text overlay of canvas element */
#hero h2 {
    position: absolute;
    display: flex;
    bottom: 20px;
    width: 100%;
    height: 50px;
    color: var(--text-color-fade);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1.5rem;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
    background: linear-gradient(270deg, var(--white-fade-hard) 0%, var(--white-fade-soft) 100%);
}

    /* container for threejs element */
.canvas {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid var(--white-full);
}

/* About - no specific rules needed*/

/* Work - flex initial layout for mobile is wide, with more height for the first project*/
.work-flex {
    display: flex;
    width: 100%;
}
    /* container element for the project articles */
#work .group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    /* each project article */
#work article {
    width: 90%;
    height: 125px;
    position: relative;
    margin: 10px 0;
}
    /* override for first project size */
#work article:first-of-type {
    height: 250px;
}
    /* project title overlay h3 */
#work article h3 {
    position: absolute;
    display: flex;
    bottom: 15px;
    width: 60%;
    height: 15px;
    transform: translateX(-15px);
    color: red;
    background-color: lightpink;
    align-items: center;
    justify-content: left;
    padding: 15px;
}
    /* container to hold project img */
#work article div {
    height: 100%;
    width: 100%;
    border: 2px solid var(--white-full);
}
    /* img for project */
#work article div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Contact - flex for contact area children*/
#contact aside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    /* each contact elemennt */
#contact article {
    width: 40%;
    display: flex;
    margin: 15px;
}
    /* container to hold contact element img */
#contact article div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer - footer element*/
footer {
    display:flex;
    justify-content: center;
    align-items: center;
}


/* Tablet Size Media Query*/
@media screen and (min-width: 768px) {
    /* Body - reduce font size slightly*/
    body {
        font-size: 1.15rem;
    }
        /* remove bottom margin from h2 (not the work area, as it has a different break point) */
    h2:not(.work-flex h2) {
        margin-bottom: 0;
    }
        /* Remove lines between sections using ::before pseudo selector */
    #contact::before, #resume::before{
        content: none;
    }

    /* Header and Nav - reposition header section as side by side */
    header section {
        flex: 2;
        justify-content: left;
        padding-left: 1em;
    }
    header nav {
        flex: 3;
        display: flex;
        align-items: center;
        margin-right: 15px;
    }
    header nav ul {
        width: 100%;
        margin-bottom: 0;
    }

    /* Sections - reposition flex sections (not work section as it has a different break point)*/
    section h2:not(.work-flex h2) {
        flex: 1;
        text-align: right;
        padding-right: 30px;
        border-right: 5px solid var(--white-fade-hard);
    }
    section p {
        flex: 3;
    }

    /* Hero - reposition the floating text element */
    #hero h2 {
        bottom: 30px;
        font-size: 2.3rem;
        padding-right: 50px;
    }
        /* increase canvas height */
    .canvas {
        height: 250px;
    }

    /* Work - reposition the h2 to align with other sections*/
    #work h2 {
        flex: 1;
        text-align: right;
        padding-right: 30px;
     }
        /* p element is an empty element to assist with flex alignment */
    .work-flex p {
        flex: 3;
     }
        /* resize project elements */
    #work article {
        height: 200px;
    }
        /* resize first project element */
    #work article:first-of-type {
        height: 400px;
    }
        /* reposition project text overlay */
    #work article h3 {
        width: 35%;
    }

    /* Contact */
    #contact aside {
        flex: 3;
        padding: 0 15px;
    }
        /* reposition contact elements */
    #contact article p{
        flex: 3;
}

/* Desktop Size Media Query */
@media screen and (min-width: 980px) {
    /* Body - make body a flex to center the container */
    body {
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }
        /* larger title and position change */
    h1 {
        font-size: 2.5rem;
        padding-left: 50px;
    }
        /* larger h2 */
    h2 {
        font-size: 2rem;
    }

    /* Container - main page container moved to centre of page when it is larger than max-width*/
    .container {
        max-width: 1200px;
        border-left: 5px solid var(--white-full);
        border-right: 5px solid var(--white-full);
    }

    /* Header and nav - reposition slightly */
    header section {
        flex: 4;
        justify-content: left;
    }
    header nav {
        flex: 3;
    }
    header nav ul li {
        font-size: 1.2rem;
    }

    /* Canvas - change canvas size*/
    .canvas {
        height: 350px;
    }

    /* Work  - bring work into same style as other sections*/
    .work-flex {
        border: 0;
        flex: 1;
        padding-top: 0;
        display: block;
        padding-right: 30px;
        border-right: 5px solid var(--white-fade-hard);
    }
        /* fix h2 */
    #work h2 {
        flex: none;
        text-align: right;
        padding: 0;
        margin: 0;
        height: 100%
    }
        /* Remove lines between sections using ::before pseudo selector */
    #work::before{
        content: none;
    }
        /* fix placeholder p tag */
    #work p {
        flex: none;
        padding: 0;
        width: 0
    }
        /* match flex of other sections */
    #work .group {
        flex: 3;
        padding: 0 15px;
    }
        /* enable side-by side appropriate flex sizes */
    #work article {
        width: 45%;
        height: 300px;
    }
        /* resize first element */
    #work article:first-of-type {
        width: 95%;
        height: 450px;
    }

    /* Contact - change layout to size by side articles */
    #contact aside {
        justify-content: space-evenly;
    }
        /* change size of articles */
    #contact article {
        width: 20%;
        margin: 8px;
    }

}