:root {
  --primary-color: rgba(168, 201, 230, 1);
  --secondary-color: rgba(84, 64, 64, 1);
  --white-full: rgba(255, 255, 255, 1);
  --white-fade-hard: rgba(255, 255, 255, 0.75);
  --white-fade-soft: rgba(255, 255, 255, 0.25);
  --black-fade-soft: rgba(0, 0, 0, 0.35);
  --gray: rgba(180, 180, 180, 1);
  --gray-fade-hard: rgba(180, 180, 180, 0.75);
  --gray-fade-soft: rgba(180, 180, 180, 0.25);
  --shadow: rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--white-full);
  /* overflow: hidden; */
  /* border: 1px solid gray; */
}

html {
  scroll-behavior: smooth;
}

#root {
  overflow: auto;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: var(--black-fade-soft);
}

header {
  padding: 0.5rem 0;
  border-bottom: 1px white solid;
}

footer {
  border-top: 1px white solid;
}

footer p {
  display: block;
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.25rem 0 1rem 0;
}

.sub-wrapper {
  width: 100%;
  max-width: 1200px;
  align-content: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.subtitle {
  display: block;
  text-align: center;
  width: 90%;
  text-transform: uppercase;
}

nav {
  padding: 0.5rem 0 0 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav .nav-link {
  margin: 0;
  padding: 0.25rem 0.5rem 0.1rem 0.5rem;
  color: var(--white-fade-hard);
  transition: 0.25 ease-in-out all;
}

nav .nav-link:hover {
  border-bottom: 2px solid var(--white-fade-hard);
}

nav .nav-active {
  border-bottom: 2px solid var(--white-full);
  color: var(--white-full);
}

.main-content {
  background-color: var(--black-fade-soft);
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid var(--white-full);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.25rem 0;
  margin: 0.5rem 0;
  background: var(--black-fade-soft);
  background: linear-gradient(
    90deg,
    rgba(198, 198, 198, 0) 0%,
    var(--black-fade-soft) 10%,
    var(--black-fade-soft) 90%,
    rgba(198, 198, 198, 0) 100%
  );
}

.logo-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem 0.5rem;
  transition: 0.25s ease-in-out;
}

svg:hover {
  width: 2rem;
  height: 2rem;
  margin: 0 0.25rem;
}

.profile-image {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border: 1px solid var(--white-full);
  border-radius: 1rem;
  flex-shrink: 0;
  margin: 0.5rem 0 0.25rem 0;
}

img {
  width: 100%;
  height: 100%;
}

.section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-full);
  font-size: 0.9rem;
  font-weight: lighter;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: var(--black-fade-soft);
  background: linear-gradient(
    90deg,
    rgba(198, 198, 198, 0) 0%,
    var(--black-fade-soft) 10%,
    var(--black-fade-soft) 90%,
    rgba(198, 198, 198, 0) 100%
  );
}

.wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}

.nowrap {
  flex-wrap: nowrap;
}

.project-wrapper {
  flex-basis: 48%;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 15rem;
  background-color: var(--white-full);
  border: 1px solid var(--white-full);
  margin: 0.5rem 0.5rem;
}

.project-image {
  width: 100%;
  object-fit: cover;
  z-index: -10;
  transition: 0.25s ease-in-out;
}

.project-wrapper:hover .project-image {
  filter: blur(1px) saturate(0.15) brightness(1.25);
  opacity: 0.25;
}

.project-title {
  position: absolute;
  left: 0;
  top: 1rem;
  background-color: black;
  padding: 0.25rem 1.5rem;
  font-size: 1.2rem;
  transition: 0.25s ease-in-out;
  z-index: 50;
  border-radius: 0 0.5rem 0.5rem 0;
  border-top: 1px solid var(--white-full);
  border-right: 1px solid var(--white-full);
  border-bottom: 1px solid var(--white-full);
}

.project-wrapper:hover .project-title {
  transform: translateY(-1.1rem);
  border-radius: 0 0 0.5rem 0;
}

.project-tech {
  position: absolute;
  z-index: 50;
  right: -2.5rem;
  top: 0;
  height: 100%;
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.25s ease-in-out;
  border-left: 1px solid gray;
  background-color: var(--gray-fade-soft);
  opacity: 0;
}

.project-wrapper:hover .project-tech {
  transform: translateX(-2.5rem);
  border-radius: 0 0 0.5rem 0;
  opacity: 1;
}

.project-tech svg:not(.custom) {
  fill: black;
}

.project-tech .custom g {
  stroke: black;
}

.project-desc {
  position: absolute;
  top: 0rem;
  width: calc(100% - 3rem);
  padding: 0.5rem;
  color: black;
  opacity: 0;
  transition: 0.25s ease-in-out;
  text-align: center;
  z-index: 50;
}

.project-wrapper:hover .project-desc {
  transform: translateY(2rem);
  opacity: 1;
}

/* .project-link {
  width: 100%;
  height: 100%;
} */

.project-links {
  position: absolute;
  opacity: 0;
  transition: 0.25s ease-in-out;
  left: 0.5rem;
  bottom: -1.5rem;
  z-index: 50;
}

.project-wrapper:hover .project-links {
  transform: translateY(-2rem);
  opacity: 1;
}

.contact-links {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.75rem;
  border-radius: 0.5rem;
  transition: 0.25s ease-in-out;
}

.contact-links svg:hover {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem 0.5rem;
}

.contact-links:hover {
  background-color: var(--white-fade-soft);
}

/* tablet size */
@media screen and (min-width: 760px) {
  .subtitle {
    text-align: left;
  }

  .main-content {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  .sub-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    padding: 0.5rem;
  }

  nav .nav-link {
    margin: 0 0.5rem;
  }

  .section-container {
    width: 95%;
    flex-direction: row;
    padding: 1rem;
  }

  .profile-image {
    margin: 0 0 0 1rem;
  }

  .logo-container {
    width: 95%;
    margin: 0.5rem 1rems;
  }
}

/* desktop size */
@media screen and (min-width: 980px) {
} ;
